/*Généralités*/
body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(137, 36, 92);

}

h4::after {
  background-color: rgb(137, 36, 92);
  content: '';
  display: block;
  height: 2px;
  width: auto;
  margin-bottom: 2px;
}

h1 {
  text-align: center;
  font-size: 400%;
  opacity: 1;
  color: rgb(137, 36, 92);
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  text-decoration: underline;

}

a {
  font-weight: bolder;
  color: rgb(137, 36, 92);
}

/*Navigation bar*/
#logo {
  display: flex;
  margin-left: 1%;
}

.navigation {
  display: flex;
  background-color: rgb(137, 36, 92);
  border-radius: 20px;
  padding: 10px;
  z-index: 3;
  box-shadow: #777;
  overflow: hidden;
}

.Box2 {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  background-color: rgb(137, 36, 92);
}

.Box2LI {
  padding-left: 10px;
}

.Box2LI a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.Box2LI a:hover:not(.active) {
  color: wheat;
}

.Box2 {
  margin-left: 20%;
  display: flex;
}

.navbar__toggleshow {
  display: block;
}

.navbar__link-toggle {
  display: none;
}

@media screen and (max-width: 768px) {

  .Box2,
  .navigation {
    flex-direction: column;
  }

  .Box2,
  .toc {
    display: none;
  }

  .navbar__link-toggle {
    align-self: flex-end;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
  }

  .navbar__toggleshow {
    display: flex;
  }

  .Entete {
    margin-left: 5%;
  }


}

/* Corps du site */

/*Flyer*/
.flyer {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid rgb(137, 36, 92);
}

.flyer:hover {
  background-color: rgb(137, 36, 92);
  color: white;
}

/*Pages */
.ContentOfPage {
  margin-top: 1rem;
  z-index: 1;

}

section {
  margin-left: 10em;
}

.Entete {
  margin-left: 0px;
  height: 550px;
  background-color: white;
}



.information {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  background-color: rgb(159, 205, 206, 0.8);
  padding: 1%;
}

.BackgroundTopPage {
  z-index: 0;
  position: relative;
}

.imgInfo {
  width: 300px;
  height: 300px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  z-index: 0;
  margin-top: 20%;

}


.InfoService {
  position: relative;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.un {
  width: 50%;
  height: 30%;
  text-align: justify;
  color: rgb(137, 36, 92);
}


.deux {
  margin-left: 10%;
}

.trois {
  float: left;
  margin-right: 10%;
}

.quatre {
  margin-top: 5%;
}

.container {
  position: relative;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 500px);
  display: flex;
}

.card {
  margin-left: -2%;
  display: flex;
  height: 300px;
  width: 290px;
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

/*Cartes */
.container {
  position: relative;
  width: 60%;
}

.card:first-child {
  background-color: rgb(249, 167, 41);
}


.card:not(:first-child) {
  margin-left: -50px;
}

.card:nth-child(2) {
  background-color: rgb(2, 171, 231);
}

.card:nth-child(3) {
  background-color: rgb(229, 29, 40);
}

.card:nth-child(4) {
  background-color: rgb(119, 186, 61);
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 200;
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: medium;
}

.S1 {
  margin-top: 4%;
  margin-left: 2%;
}

.S2 {
  position: relative;
  width: 250px;
}

.bar {
  position: absolute;
  top: 75px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 150px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


.Field3 {
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  position: relative;

}

.S3 {
  position: relative;
  width: auto;
  height: 100%;
  margin-right: 10%;
}

.S4 {
  position: relative;
  width: 50%;
  height: 100%;
}

.activite:first-child {
  margin-top: 1%;
}

.activite {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  position: relative;
}

.A1 {
  position: relative;
  width: 50%;
  height: auto;
}

.A2 {
  position: relative;
  width: 50%;
  height: auto;
}

/*table*/

.tg td {
  border: 1px solid rgb(137, 36, 92);
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
}

.tg th {
  border: 1px solid rgb(137, 36, 92);
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 5px;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top
}

/****/
.d1 {
  width: 90%;
  height: 100%;
  animation: fondu 30s infinite;
}


@keyframes fondu {
  0% {
    background-image: url(Image/background2.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    background-size: cover;
    height: 550px;
    text-align: center;
  }

  20% {
    background-image: url(Image/background3.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    background-size: cover;
    height: 550px;
    text-align: center;
  }

  40% {
    background-image: url(Image/background4.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    background-size: cover;
    height: 550px;
    text-align: center;
  }

  60% {
    background-image: url(Image/background5.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    background-size: cover;
    height: 550px;
    text-align: center;

  }

  100% {
    background-image: url(Image/background2.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    background-size: cover;
    height: 550px;
    text-align: center;
  }
}

.Galerie {
  z-index: -1;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Locaux {
  width: 80%;
  height: 40%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.CardContent {
  position: relative;
  margin-top: 40%;
  float: left;
  font-size: 70%;
  color: white;
}



.TableauTarifs {
  margin-top: 2.5%;
  width: auto;
  height: auto;
}

.TarifsParJour {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.Semaine {
  text-align: left;
}

.Weekends {
  text-align: left;
}

.prescolaire {
  margin-top: 2%;
}

.PieceAFournir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#map {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 60%;
}

.hello {
  opacity: 1 !important;
}

.full {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}

.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery2 {
  position: relative;
  display: grid;
  grid-column-gap: auto;
  grid-row-gap: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 100fr));
  grid-auto-rows: auto;
}

.gallery2 img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.gallery2 img:hover {
  box-shadow: 0 0 32px #333;
}

.gallery2 .content {
  padding: 4px;
}

.gallery2 .gallery2-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery2 .gallery2-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery2 {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery2 {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

/*side bare toc*/

.toc {
  position: fixed;
  left: 3em;
  top: 10em;
  padding: 1em;
  width: 15%;
  line-height: 2;
  font-size: 11px;
  border: 1px solid #aaa;
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(137, 36, 92)
}

.toc ul ul {
  padding-left: 2em;
  list-style: square;
}

.toc li a {
  display: inline-block;
  color: rgb(137, 36, 92);
  text-decoration: none;
}

.toc a:hover {
  color: #111;
  transform: translate(5px);
  font-weight: bold;
}