/*Généralités*/
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(90deg, #fff9c4, #b2e8d7, #fff9c4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #fff9c4, #b2e8d7, #fff9c4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(137, 36, 92);
}

.list {
  line-height: 1.4;
  font-family: 'Trocchi', serif;
  font-size: larger;
  font-weight: bolder;
  margin-top: 1rem;
}

.toc {
  font-family: 'Trocchi', serif;

}


h4::after,
.list::after {
  background-color: rgb(137, 36, 92);
  content: '';
  display: block;
  height: 2px;
  width: auto;
  margin-bottom: 2px;
}

h1 {
  text-align: center;
  font-size: 400%;
  opacity: 1;
  color: rgb(137, 36, 92);
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  text-decoration: underline;

}

a {
  font-weight: bolder;
  color: rgb(137, 36, 92);
}



/*Navigation bar*/
#logo {
  display: flex;
  margin-left: 1%;
}

.navigationContainer {
  height: 10px;
  width: 100%;
}

.navigation {
  top: 0%;
  position: fixed;
  min-width: 100%;
  display: flex;
  background-color: rgb(198, 58, 135, 0.8);
  z-index: 3;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-left: 0%;
}

.Box2 {
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.Box2LI {
  width: 200px;
}

.Box2LI a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.Box2LI a:hover:not(.active) {
  color: wheat;
}

.Box2 {
  margin-left: 20%;
  display: flex;
}

.navbar__toggleshow {
  display: block;
}

.navbar__link-toggle {
  display: none;
}

@media screen and (max-width: 768px) {

  .Box2,
  .navigation,
  .flex-container {
    flex-direction: column;
  }

  .Box2,
  .toc {
    display: none;
  }

  .navbar__link-toggle {
    align-self: flex-end;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
  }

  .navbar__toggleshow {
    display: flex;
  }

  .Entete {
    margin-left: 5%;
    width: 100%;
    height: 550px;
  }


}

/* Corps du site */

/*Flyer*/
.flyer {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid rgb(137, 36, 92);
}

.flyer:hover {
  background-color: rgb(137, 36, 92);
  color: white;
}

/*Pages */
.ContentOfPage {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section {
  margin-left: 10em;
}

.Entete {
  height: 550px;
  max-width: 100%;
}



.information {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  background-color: rgb(159, 205, 206, 0.8);
  padding: 1%;
}

.BackgroundTopPage {
  z-index: 0;
  position: relative;
}

.imgInfo {
  margin-left: 15%;
  width: 300px;
  height: 300px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  z-index: 0;
  margin-top: 20%;

}


.InfoService {
  position: relative;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.un {
  width: 50%;
  height: 30%;
  text-align: justify;
  color: rgb(137, 36, 92);
}


.trois {
  float: left;
  margin-right: 10%;
}

.quatre {
  margin-top: 5%;
}

.container {
  position: relative;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 500px);
  display: flex;
}

.card {
  margin-left: -2%;
  display: flex;
  height: 300px;
  width: 290px;
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

/*Cartes */
.container {
  position: relative;
  width: 60%;
}

.card:first-child {
  background-color: rgb(249, 167, 41);
}


.card:not(:first-child) {
  margin-left: -50px;
}

.card:nth-child(2) {
  background-color: rgb(2, 171, 231);
}

.card:nth-child(3) {
  background-color: rgb(229, 29, 40);
}

.card:nth-child(4) {
  background-color: rgb(119, 186, 61);
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 200;
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: medium;
}

.S1 {
  margin-top: 4%;
  margin-left: 2%;
}

.S2 {
  position: relative;
  width: 250px;
}

.bar {
  position: absolute;
  top: 75px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 150px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


.Field3 {
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  position: relative;

}

.S3 {
  position: relative;
  width: auto;
  height: 100%;
  margin-right: 10%;
}

.S4 {
  position: relative;
  width: 50%;
  height: 100%;
}

.activite:first-child {
  margin-top: 1%;
}

.activite {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  position: relative;
}

.A1 {
  position: relative;
  width: 50%;
  height: auto;
}

.A2 {
  position: relative;
  width: 50%;
  height: auto;
}

/*table*/

.tg {
  background: #ffffff5f;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transform: translateY(0%);
  transition: 0.3s;
}

.tg td {
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;

}

.tg th {
  border: 2px solid rgb(137, 36, 92);
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 5px;
}

.tg .tg-0lax {
  border: 2px solid rgb(137, 36, 92);
  text-align: left;
  vertical-align: top
}

.tg.act_bg th,
.tg.act_bg .tg-0lax {
  border: none;

}

/****/
.d1 {
  width: 100%;
  height: 100%;
  animation: fondu 30s infinite;
}


@keyframes fondu {
  0% {
    background-image: url(Image/background2.jpg);
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 550px;
    max-width: 100%;
    text-align: center;
  }

  20% {
    background-image: url(Image/background3.jpg);
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 550px;
    max-width: 100%;
    text-align: center;
  }

  40% {
    background-image: url(Image/background4.jpg);
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 550px;
    max-width: 100%;
    text-align: center;
  }

  60% {
    background-image: url(Image/background5.jpg);
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 550px;
    max-width: 100%;
    text-align: center;

  }

  100% {
    background-image: url(Image/background2.jpg);
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-size: cover;
    height: 550px;
    max-width: 100%;
    text-align: center;
  }
}

.Galerie {
  z-index: -1;
  max-width: 100%;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Locaux {
  width: 80%;
  height: 40%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.CardContent {
  position: relative;
  margin-top: 40%;
  float: left;
  font-size: 70%;
  color: white;
}



.TableauTarifs {
  margin-top: 2.5%;
  width: auto;
  height: auto;
}


#map {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 60%;
}

.hello {
  opacity: 1 !important;
}

.full {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}

.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery2 {
  position: relative;
  display: grid;
  grid-column-gap: auto;
  grid-row-gap: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 100fr));
  grid-auto-rows: auto;
}

.gallery2 img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.gallery2 img:hover {
  box-shadow: 0 0 32px #333;
}

.gallery2 .content {
  padding: 4px;
}

.gallery2 .gallery2-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery2 .gallery2-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery2 {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}

@media (max-width: 400px) {
  .gallery2 {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }

  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

/*side bare toc*/

.toc {
  position: fixed;
  top: 50px;
  padding: 1em;
  width: 19%;
  line-height: 2;
  font-size: 14px;
  border: 1px solid #aaa;
  background-color: rgba(209, 76, 149, 0.8);
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.toc ul ul {
  padding-left: 2em;
  list-style: "\002794";
}

.toc li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.toc a:hover {
  color: wheat;
  transform: translate(5px);
  font-weight: bold;
}


/* Carrousel */
input[type="radio"] {
  position: absolute;
  left: -100vw
}

label {
  cursor: pointer
}


.slideshow {
  display: grid;
  grid-template: "slider" 1fr;
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(600px, 80vh, 800px);
  margin: 2rem auto;

}

.slideshow>* {
  grid-area: slider;
  max-width: 1200px;
}


.cadre-ratio {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.slideshow ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.slideshow ul li {

  aspect-ratio: 16 / 9;
  min-width: 100%;
  transition: transform .25s;
}

.slideshow ul li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
}



/*navigateurs ne supportant pas aspect-ratio*/
@supports not (aspect-ratio: 16 / 9) {
  .cadre-ratio ul>li::before {
    content: "";
    float: left;
    padding-top: 56.25%;
  }

  .cadre-ratio ul>li::after {
    content: "";
    display: block;
    clear: both;
  }
}



#slide_img1:checked~.cadre-ratio ul>li {
  transform: translatex(0%)
}

#slide_img2:checked~.cadre-ratio ul>li {
  transform: translatex(-100%)
}

#slide_img3:checked~.cadre-ratio ul>li {
  transform: translatex(-200%)
}

#slide_img4:checked~.cadre-ratio ul>li {
  transform: translatex(-300%)
}

#slide_img5:checked~.cadre-ratio ul>li {
  transform: translatex(-400%)
}

#slide_img6:checked~.cadre-ratio ul>li {
  transform: translatex(-500%)
}

#slide_img7:checked~.cadre-ratio ul>li {
  transform: translatex(-600%)
}

#slide_img8:checked~.cadre-ratio ul>li {
  transform: translatex(-700%)
}

#slide_img9:checked~.cadre-ratio ul>li {
  transform: translatex(-800%)
}

#slide_img10:checked~.cadre-ratio ul>li {
  transform: translatex(-900%)
}


/******************fleches**************************/

.precedent {
  place-self: center left;
}

.suivant {
  place-self: center right;
}


/* carrousel avec fleches */

.slideshow>.precedent>label,
.slideshow>.suivant>label {

  display: none;
  background-color: hsl(0, 0%, 15%);
  justify-content: center;
  align-content: center
}

.slideshow>.precedent>label:after {
  content: '←'
}

.slideshow>.suivant>label:after {
  content: '→'
}

.slideshow>.precedent>label:after,
.slideshow>.suivant>label:after {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 2vw, 2rem);
  color: hsl(0, 0%, 100%);


}


#slide_img1:checked~.precedent>label.img10,
#slide_img1:checked~.suivant>label.img2,
#slide_img2:checked~.precedent>label.img1,
#slide_img2:checked~.suivant>label.img3,
#slide_img3:checked~.precedent>label.img2,
#slide_img3:checked~.suivant>label.img4,
#slide_img4:checked~.precedent>label.img3,
#slide_img4:checked~.suivant>label.img5,
#slide_img5:checked~.precedent>label.img4,
#slide_img5:checked~.suivant>label.img6,
#slide_img6:checked~.precedent>label.img5,
#slide_img6:checked~.suivant>label.img7,
#slide_img7:checked~.precedent>label.img6,
#slide_img7:checked~.suivant>label.img8,
#slide_img8:checked~.precedent>label.img7,
#slide_img8:checked~.suivant>label.img9,
#slide_img9:checked~.precedent>label.img8,
#slide_img9:checked~.suivant>label.img10,
#slide_img10:checked~.precedent>label.img9,
#slide_img10:checked~.suivant>label.img1 {

  display: flex;
  --size: clamp(2rem, 8vw, 4rem);
  width: var(--size);
  height: var(--size);

}



/***************************navigation puces bas********************************/
.puces {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  place-self: end center;

}

.puces label {

  --size: 1rem;
  background-color: white;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);

}

/********************simulation lien actif sur les puces******************************/


#slide_img1:checked~.puces>label.img1>.actif_puces,
#slide_img2:checked~.puces>label.img2>.actif_puces,
#slide_img3:checked~.puces>label.img3>.actif_puces,
#slide_img4:checked~.puces>label.img4>.actif_puces,
#slide_img5:checked~.puces>label.img5>.actif_puces,
#slide_img6:checked~.puces>label.img6>.actif_puces,
#slide_img7:checked~.puces>label.img7>.actif_puces,
#slide_img8:checked~.puces>label.img8>.actif_puces,
#slide_img9:checked~.puces>label.img9>.actif_puces,
#slide_img10:checked~.puces>label.img10>.actif_puces {

  border-radius: inherit;
  display: flex;
  height: inherit;
  width: inherit;
  background-color: black;

}

/* form design */

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;

}

.input-group {
  & input {
    border: 2px solid white;
    border-radius: 100rem;
    color: rgb(137, 36, 92);
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: .5rem 1.5rem;
    width: 100%;
    transition: background-color 500ms;

    &:focus {
      border: 2px solid rgb(137, 36, 92);
    }

    &.email:focus:invalid {
      background-color: rgb(201, 44, 44);
      border: 2px solid rgb(201, 44, 44);
      color: white;
    }
  }
}

.input-group:nth-child(3) {
  margin-top: 20px;

  &textarea {
    border: 2px solid white;
    border-radius: 100rem;
    color: rgb(137, 36, 92);
    font-family: 'Montserrat', sans-serif;
    outline: none;
    padding: .5rem 1.5rem;
    width: 100%;
    transition: background-color 500ms;

    &:focus {
      border: 2px solid rgb(137, 36, 92);
    }
  }
}

.contact-form {
  border-radius: 10px;
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.contact-form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn {
  background: white;
  color: rgb(137, 36, 92);
  cursor: pointer;
  border: none;
  border-radius: 10rem;

  &:hover {
    transform: scale(1.15);
  }
}

/* Header of the "A la une" news */
.Ent_ALU {
  margin-top: 45px;
  display: flex;
  flex-direction: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  padding: 20px;

}

.Ent_ALU::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: -1;
}

.Ent_ALU img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms;
}

.Ent_ALU img:hover {
  transform: scale(1.1);
}

.ALU_Img {
  display: flex;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.ALU_Text {
  height: 100%;
  margin-left: 2%;
  width: 50%;
}

/*Activities images*/
.Bubbleimg {
  border-radius: 30%;
  width: auto;
  height: 300px;
  margin: auto;
  display: block;
  margin-top: 10%;
}

.GridAS {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 10%;
}

.AS {
  flex: 1;
  background-color: #2e3033;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 100%;
}

.AS::before {
  content: "";
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: -1;
}

.AS_Img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.AS_Img {
  height: 30%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.AS1 {
  grid-column: 1;
  grid-row: 1;
}

.AS2 {
  grid-column: 2;
  grid-row: 1;
}

.AS3 {
  grid-column: 3;
  grid-row: 1;
}

/*Button*/

button {
  background-color: rgba(245, 60, 162, 0.59);
  border: 1px solid rgb(137, 36, 92);
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
}

button:hover {
  font-weight: bolder;
}

/***/
.flex-container {
  display: flex;
}

/*****/


.big-heading {
  color: #fff;
  text-align: center;
  font-size: 26pt;
  padding: 20px;
  text-transform: capitalize;
}

.table {
  background: #ffffff5f;
  width: 350px;
  height: auto;
  display: block;
  float: left;
  position: relative;
  left: 6%;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transform: translateY(0%);
  transition: 0.3s;
}

.table:hover {
  transform: translateY(-2%);
  box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.2);
}

.table .heading {
  background: rgba(137, 36, 92, 0.329);
  width: 100%;
  padding: 20px;
  text-align: left;
  font-size: 15pt;
  color: #272625;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.table .block {
  display: block;
  width: 78%;
  margin: 40px 50%;
  transform: translate(-50%);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.table .block .price {
  float: right;
  position: relative;
  right: 30px;
}

.table .block .price sub {
  position: absolute;
  right: -30px;
  top: 5px;
  font-weight: lighter;
  font-size: 9pt;
}

.table .block .options {
  display: block;
  list-style: none;
  margin: 10px auto;
}

.table .block .options li {
  font-size: 13px;
  color: #676462;
  text-transform: capitalize;
}

.table p {
  text-align: left;
  color: #272625;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
}

.table h4 {
  position: absolute;
  top: 0;
  left: 20px;
  color: #fff;
  font-size: 1.6em;
}

.table h4 a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.table h4 a:hover {
  font-size: 1.8em;
  text-decoration: underline;
}

/******/


.paper_list ul {
  font-family: 'Gloria Hallelujah', cursive;
  list-style-position: inside;
  width: 600px;
  max-width: 100%;
  background: rgba(240, 203, 224, 0.645);
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;
  margin: 0;
  border-radius: 0.1rem;
}

.paper_list li {
  padding: 0 0 0 1rem;
}

.paper_list li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 255, 0.668);
}

.paper_list li:first-child {
  margin-top: 1rem;
}

.paper_list li:last-child {
  margin-bottom: 1rem;
}

.paper_list ::marker {
  content: "🌸";
}